<div class="themeix-logo">
    {{#if @site.logo}}
        <a class="themeix-brand" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
    {{else}}
        <a class="themeix-brand" href="{{@site.url}}">{{@site.title}}</a>
    {{/if}}
</div>
<nav id="themeix-menu">
    {{#if @site.navigation}}
        {{navigation}}
    {{/if}}
</nav>
